* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

svg path {
  fill: inherit;
}

.header {
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.header-icons {
  display: flex;
  gap: 30px;
  align-items: baseline;
}
.header-icons svg:hover {
  fill: #46A358;
}

.logo img {
  display: block;
  margin-bottom: 8px;
}

.login {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 15px;
  margin-bottom: 15px;
  height: 40px;
  text-decoration: none;
  color: #fff;
  background-color: #46A358;
  border-radius: 6px;
  font-weight: 500;
}
.login:hover {
  background-color: rgba(26, 111, 42, 0.8);
}
.login p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.navigation {
  display: flex;
  width: 350px;
  justify-content: space-between;
}
.navigation-item {
  text-decoration: none;
  color: black;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 25px;
  padding-top: 10px;
  display: flex;
}
.navigation-item:hover {
  border-bottom: 3px solid #46A358;
  font-weight: 700;
  padding-bottom: 22px;
}

.navigation-item-list-hover:hover > .navigation-item {
  border-bottom: 3px solid #46A358;
  font-weight: 700;
  padding-bottom: 22px;
}

.sublist {
  position: absolute;
  display: none;
}
.sublist-bg {
  background-color: rgb(237, 246, 238);
  width: 188px;
}

.navigation-sublist {
  top: 100%;
  left: 50px;
  transform: translateX(-50%);
  padding-top: 12px;
}
.navigation-sublist a {
  display: flex;
  padding: 7px 14px;
  font-size: 16px;
  line-height: 20px;
  color: rgb(61, 61, 61);
  justify-content: space-between;
  align-items: center;
}
.navigation-sublist a:hover {
  background-color: rgb(26, 113, 42);
  font-weight: 700;
  color: rgb(251, 251, 251);
}

.navigation-item-list-level-two {
  position: static;
}
.navigation-item-list-level-two:hover > a img {
  transform: rotate(180deg);
}
.navigation-item-list-level-two:hover > a {
  background-color: rgb(26, 113, 42);
  font-weight: 700;
  color: rgb(251, 251, 251);
}
.navigation-item-list-level-two:hover path {
  fill: rgb(251, 251, 251);
}
.navigation-item-list-level-two:hover svg {
  transform: rotate(180deg);
}

.navigation-categories {
  top: 0px;
  left: 100%;
  padding-left: 2px;
  padding-top: 12px;
}

.navigation-item-list {
  position: relative;
}
.navigation-item-list img {
  width: 6px;
  height: 10px;
}

.navigation-item-list-hover:hover > .sublist {
  display: flex;
}

.navigation-item-sublist {
  position: relative;
}

.content-block {
  background-color: rgba(245, 245, 245, 0.5);
  margin-bottom: 50px;
}

.text-container {
  padding-top: 70px;
  padding-left: 40px;
  padding-bottom: 85px;
  display: inline-block;
  vertical-align: top;
}

.subtitle {
  margin: 0;
  margin-bottom: 7px;
  font-size: 14px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: rgb(61, 61, 61);
}

.title {
  width: 530px;
  font-size: 67px;
  text-transform: uppercase;
  line-height: 70px;
  margin: 0;
  font-weight: 900;
  color: rgb(61, 61, 61);
}
.title span {
  background: none;
  color: #46A358;
}

.desc {
  color: rgb(114, 114, 114);
  font-size: 14px;
  margin: 5px 0 40px;
  line-height: 24px;
  width: 555px;
  font-weight: 400;
}

.button-shop-now {
  display: block;
  width: 140px;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #46A358;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
}
.button-shop-now:hover {
  background-color: rgba(26, 111, 42, 0.8);
}

.img-big-plant {
  margin-left: 90px;
  margin-top: 12px;
}

.flexwrap {
  display: flex;
}

.sidebar {
  margin-right: 50px;
  width: 310px;
  background-color: rgb(251, 251, 251);
}

.categories {
  margin-top: 14px;
  margin-left: 18px;
}
.categories-title {
  padding: 14px 0 7px;
  font-size: 18px;
  line-height: 16px;
  color: rgb(61, 61, 61);
}
.categories a {
  margin-left: 12px;
  color: rgb(61, 61, 61);
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
}
.categories a:hover {
  font-weight: 700;
  color: rgb(70, 163, 88);
}

.sale {
  margin-top: 377px;
}

.assortment {
  width: 840px;
}

.assort-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 16px;
  color: rgb(61, 61, 61);
}

.nav-plants ul {
  display: flex;
  gap: 40px;
}
.nav-plants a:hover {
  color: rgb(70, 163, 88);
  font-weight: 700;
  padding-bottom: 7px;
  border-bottom: 2px solid rgb(70, 163, 88);
}

.nav-sort {
  display: flex;
}
.nav-sort a {
  margin-left: 10px;
  display: flex;
  gap: 5px;
}

.assort-main {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 258px;
  margin-right: 33px;
  margin-bottom: 70px;
}
.card::before {
  content: "";
  background-color: rgb(70, 163, 88);
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  z-index: 1;
  transition: 5s;
}
.card:hover::before {
  display: block;
}
.card:nth-child(3n) {
  margin-right: 0;
}
.card-wrapper {
  display: flex;
  justify-content: center;
  height: 300px;
  position: relative;
  padding: 25px 5px;
  background-color: rgb(251, 251, 251);
}
.card > img {
  width: 250px;
  height: 250px;
}
.card-sale {
  position: absolute;
  left: 0;
  top: 0;
  padding: 7px 8px;
  color: rgb(251, 251, 251);
  background-color: rgb(70, 163, 88);
  text-transform: uppercase;
}
.card-hover svg:hover {
  fill: #46A358;
}

.card-hover {
  justify-content: center;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7px;
}
.card-hover a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 7px;
  background-color: rgb(251, 251, 251);
  margin-right: 10px;
  border-radius: 4px;
}
.card-hover a:last-child {
  margin-right: 0;
}

.card:hover .card-hover {
  display: flex;
}

.card-info {
  padding-top: 15px;
}
.card-info a {
  font-size: 16px;
  line-height: 16px;
  color: rgb(61, 61, 61);
}
.card-info p {
  margin-top: 6px;
  font-size: 18px;
  line-height: 18px;
  color: rgb(70, 163, 88);
  font-weight: 700;
}
.card-info span {
  color: rgb(203, 203, 203);
  text-decoration: line-through;
  margin-left: 15px;
  font-weight: 400;
}

.pages {
  display: flex;
  justify-content: flex-end;
}
.pages-block {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 9px 13px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 7px;
  font-size: 18px;
  line-height: 16px;
}
.pages-block-arrow {
  padding: 9px;
}
.pages-block a:hover {
  border: 1px solid rgb(70, 163, 88);
  background-color: rgb(70, 163, 88);
  color: rgb(251, 251, 251);
  font-weight: 700;
}
.pages-block:first-child {
  margin-left: 0px;
}

.find-more {
  margin: 95px 0 140px;
  display: flex;
  justify-content: space-between;
}

.find-card {
  display: flex;
  width: 585px;
  background-color: rgb(251, 251, 251);
  justify-content: flex-end;
}
.find-card > img {
  height: 285px;
  width: 290px;
  margin-top: -45px;
}

.find-text {
  padding-right: 30px;
  padding: 35px 30px 45px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.find-text h3 {
  width: 155px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  color: rgb(61, 61, 61);
  text-align: right;
}
.find-text p {
  margin: 10px 0 25px;
  font-size: 14px;
  line-height: 24px;
  color: rgb(114, 114, 114);
  text-align: right;
}
.find-text a {
  padding: 10px 25px;
  background-color: rgb(70, 163, 88);
  border-radius: 6px;
  text-transform: capitalize;
  color: rgb(251, 251, 251);
  font-size: 14px;
}
.find-text a:hover {
  background-color: rgba(26, 111, 42, 0.8);
}

.blog-posts h2 {
  font-weight: 700;
  font-size: 30px;
  color: rgb(61, 61, 61);
  text-transform: capitalize;
  text-align: center;
}
.blog-posts > p {
  margin: 10px 0 35px;
  color: rgb(114, 114, 114);
  text-align: center;
  line-height: 24px;
  font-size: 14px;
}

.blog-posts-cards {
  display: flex;
  justify-content: space-between;
}

.blog-card {
  background-color: rgb(251, 251, 251);
  width: 268px;
}
.blog-card-text {
  padding: 10px 12px;
}
.blog-card-text h4 {
  margin: 4px 0;
  color: rgb(61, 61, 61);
  font-size: 20px;
  line-height: 26px;
  width: 190px;
}
.blog-card-info {
  font-size: 14px;
  font-weight: 500;
  color: rgb(70, 163, 88);
}
.blog-card-desc {
  color: rgb(114, 114, 114);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.blog-card-button {
  display: flex;
  gap: 3px;
  margin-top: 10px;
  color: rgb(61, 61, 61);
  font-size: 14px;
  font-weight: 500;
}
.blog-card-button img {
  vertical-align: middle;
}
.blog-card-button:hover {
  color: rgb(70, 163, 88);
}
.blog-card-button:hover svg {
  fill: rgb(70, 163, 88);
}

.pros_section {
  margin-top: 90px;
}

.pros {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(251, 251, 251);
}
.pros-card:nth-child(n):not(:first-child) {
  position: relative;
  display: inline-block;
  padding-left: 35px;
}
.pros-card:nth-child(n):not(:first-child):before {
  content: " ";
  width: 1px;
  bottom: 0;
  left: 0;
  top: 7px;
  position: absolute;
  background: rgba(70, 163, 88, 0.2);
}
.pros-card h6 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 17px;
  color: rgb(61, 61, 61);
}
.pros-card p {
  width: 204px;
  font-size: 14px;
  line-height: 22px;
  color: rgb(114, 114, 114);
}

.newsletters {
  padding-top: 17px;
}
.newsletters h4 {
  font-size: 18px;
  color: rgb(61, 61, 61);
}

.email-form {
  margin-top: 25px;
  margin-bottom: 18px;
  background-color: rgb(251, 251, 251);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.email-form input {
  height: 40px;
  width: 260px;
  border: none;
  padding: 11px;
  border-radius: 6px 0 0 6px;
}
.email-form::-webkit-input-placeholder {
  color: rgb(172, 172, 172);
  font-size: 14px;
}
.email-form button {
  display: inline-block;
  background-color: rgb(70, 163, 88);
  color: rgb(251, 251, 251);
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  padding: 12px 26px;
  border-radius: 0 6px 6px 0;
}
.email-form button:hover {
  background-color: rgba(26, 111, 42, 0.8);
}

.newsletters {
  max-width: 350px;
}
.newsletters p {
  font-size: 13px;
  line-height: 22px;
  color: rgb(114, 114, 114);
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 23px;
  background: linear-gradient(to right, rgb(237, 246, 239), rgb(82, 195, 104));
}
.contacts-item {
  display: flex;
  align-items: center;
}
.contacts-item p, .contacts-item a {
  color: rgb(61, 61, 61);
  font-size: 14px;
  line-height: 22px;
  margin-left: 10px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  padding: 30px 155px 30px 25px;
  background-color: rgb(251, 251, 251);
  border-bottom: 1px solid rgba(70, 163, 88, 0.1);
}

.footer-social-item h6 {
  font-size: 18px;
  line-height: 16px;
  color: rgb(61, 61, 61);
}
.footer-social-item ul {
  margin-top: 8px;
}
.footer-social-item li {
  font-size: 14px;
  line-height: 30px;
  color: rgb(61, 61, 61);
}

.social-media {
  margin-bottom: 33px;
}
.social-media-items {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.social-media-items a {
  display: flex;
}
.social-media-items svg {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(70, 163, 88, 0.1);
  border-radius: 4px;
  padding: 7px;
}

.accept-card img {
  margin-top: 13px;
}

.rights {
  display: flex;
  justify-content: center;
}
.rights p {
  padding-top: 6px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 30px;
  color: rgb(61, 61, 61);
}

/*# sourceMappingURL=style.css.map */
