$backgroundColorWhite: rgba(251, 251, 251, 1);
$backgroundColorGreen: rgba(70, 163, 88, 1);

$commonTextColor: rgba(61, 61, 61, 1);
$commonGreenColor: rgba(70, 163, 88, 1);
$commonSubtitleColor: rgba(114, 114, 114, 1);
$commonSvgColor: #3D3D3D;


$borderColorGreen: #46A358;
$hoverColorGreen: rgba(26, 113, 42, 1);
$hoverColorDarkGreen: rgba(26, 111, 42, 0.8);
