@use './colors';

.content-block {
    background-color: rgba(245, 245, 245, 0.5);
    margin-bottom: 50px;
}

.text-container {
    padding-top: 70px;
    padding-left: 40px;
    padding-bottom: 85px;
    display: inline-block;
    vertical-align: top;
}

.subtitle {
    margin: 0;
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: colors.$commonTextColor;
}

.title {
    width: 530px;
    font-size: 67px;
    text-transform: uppercase;
    line-height: 70px;
    margin: 0;
    font-weight: 900;
    color: colors.$commonTextColor;

    span {
        background: none;
        color: colors.$borderColorGreen;
    }
}


.desc {
    color: colors.$commonSubtitleColor;
    font-size: 14px;
    margin: 5px 0 40px;
    line-height: 24px;
    width: 555px;
    font-weight: 400;
}

.button-shop-now {
    display: block;
    width: 140px;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: colors.$borderColorGreen;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;

    &:hover {
        background-color: colors.$hoverColorDarkGreen;
    }
}

.img-big-plant {
    margin-left: 90px;
    margin-top: 12px;
}